* {
    box-sizing: content-box;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
button {
    border-width: 1px;
}
#app {
    position: relative;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background: linear-gradient(to left, #f0eeeb, #1422ec);
}

/*    LOGIN    */

.login-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}
.app-title {
    padding-top: 120px;
    font-size: 50px;
}
.login {
    padding-top: 35px;
    text-align: center;
}
.login-title {
    margin-bottom: 30px;
}
.login-input {
    height: 30px;
    width: 70%;
}
.login-button {
    height: 30px;
    width: 20%;
    background-color: #ffffff;
    text-transform: uppercase;
}

/*      USERS LIST   */

.invites,
.anwsers {
    width: 30%;
    text-align: center;
    color: #ffffff;
}
.list-wrap {
    width: 40%;
    text-align: center;
    color: #ffffff;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 40px;
}
.user-name {
    margin-left: 25px;
    font-size: 25px;
}
.invite-btn {
    margin-right: 25px;
}
.notification {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 5px 5px 20px 5px;
    padding-bottom: 5px;
    color: #000000bf;
    border: 1px solid #00000052;
    border-radius: 12px;
    background-color: #ffffff;
}
.info {
    font-size: 18px;
}
.ok-button {
    margin-right: 20px; 
}
.remove-button {
    position: absolute;
    right: 16px;
    top: -4px;
    color: rgb(252, 5, 5);
    font-size: 20px;
    cursor: pointer;
}

/*      DIALOG       */

.dialog-wrap {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    width: 35%;
    text-align: center;
    background-color: #ffffff;
}
.name-interlocutor {
    color: #000000;
    font-size: 35px;
    border-bottom: 1px solid #00000054;
}
.form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0;
    border-top: 1px solid #00000054;
}
.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 12%;
    height: 75vh;
}
.message {
    padding-bottom: 10px;
}
.send-input {
    margin-right: 20px;
    height: 30px;
    width: 63%;
}
.fa-paper-plane {
    font-size: 24px;
}
.back {
    position: absolute;
    text-align: center;
    left: 0;
    height: 100vw;
    width: 20%;
    font-size: 20px;
    color: #ffffff;
}
.back:hover {
    cursor: pointer;
    background-color: #06d5fa7d;
}
.back > span {
    display: block;
    margin-top: 100%;
}